<div class="container">
    <div class="filters" *ngIf="productParams">
        <span>Order by: </span>
        <div class="dropdown">
            <select [(ngModel)]="orderCriteria">
                <option value="price">Price</option>
                <option value="rating">Rating</option>
                <option value="price-desc">Price Descending</option>
                <option value="rating-desc">Rating Descending</option>
            </select>
        </div>

        <div class="price-filter">
            <input type="number" [(ngModel)]="productParams.minPrice" placeholder="Min price">
            <input type="number" [(ngModel)]="productParams.maxPrice" placeholder="Max price">
        </div>
        <button (click)="filterProducts()">Filter products</button>
    </div>
    <div class="product" [routerLink]="['/product', product.id]" *ngFor="let product of products">
        <app-product-card [product]="product"></app-product-card>
    </div>

    <div class="pagination" *ngIf="productParams && totalItems">
        <button (click)="previousPage(); scrollToTop()" [disabled]="productParams.pageNumber===1">Previous</button>
        <span>Page {{ productParams.pageNumber }} of {{ getTotalPages()}}</span>
        <button (click)="nextPage(); scrollToTop()"
            [disabled]="productParams.pageNumber === getTotalPages()">Next</button>
    </div>
</div>