<div class="filters">
    <select id="endpointSelect" #endpointSelect>
        <option value="sales-by-month">Products sold per month</option>
        <option value="city-orders-by-month">Top 5 cities by orders</option>
        <option value="avg-order-price-by-month">Average order price per month</option>
        <option value="category-sales-by-month">Best-selling categories</option>
        <option value="avg-customer-orders-by-month">Average orders by customer per month</option>
        <option value="products-returned-by-month">Products returned per month</option>
        <option value="top-reviewed-products-by-month">Top 5 reviewed products per month</option>
    </select>
    <div class="date-picker">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate" [(ngModel)]="startDate">
    </div>
    <div class="date-picker">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" [(ngModel)]="endDate">
    </div>
    <button class="filter-action" (click)="filter(endpointSelect.value)">Filter</button>
</div>

<app-bar-chart [barChartData]="this.barChartData"></app-bar-chart>