select,
input[type="date"] {
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    appearance: none;
    background-color: #f9f9f9;
}

option {
    padding: 0.5rem 0.7rem;
}

select:hover,
input[type="date"]:hover {
    border-color: #999;
}

select:focus,
input[type="date"]:focus,
.filter-action:focus {
    outline: none;
}

.filters {
    display: flex;
    justify-content: center;
}

input[type="date"],
.filter-action {
    margin-left: 0.6rem;
}

.date-picker {
    margin-left: 0.6rem;
}

label {
    margin-right: 0.4rem;
}

.filter-action {
    width: 10vw;
    padding: 0.5rem 0.7rem;
    font-size: 1rem;
    background-color: #204D74;
    color: white;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.filter-action:hover:not([disabled]) {
    border: 2px solid #204D74;
    color: #204D74;
    background-color: white;
}

.filter-action[disabled] {
    background-color: #ccc;
    cursor: not-allowed;
    opacity: 0.6;
}