<nav class="navbar">
    <div>
        <h1 class="brand-logo">E-Store</h1>
    </div>

    <div class="navigation">
        <ul class="main-nav-items">
            <li class="nav-item" routerLink="">Products</li>
            <li class="nav-item">Shopping cart</li>
        </ul>
    </div>

    <div class="auth-links" *ngIf="!(accountService.currentUser$ | async)">
        <a class="link-button" routerLink="login">Login</a>
        <a class="link-button" routerLink="register">Register</a>
    </div>

    <div class="profile-menu" *ngIf="(accountService.currentUser$ | async) as user">
        <p>Hello, {{user.firstName}}</p>
        <div class="dropdown">
            <i class="fa-solid fa-bars dropbtn"></i>
            <div class="dropdown-content">
                <a href="#">Edit profile</a>
                <a (click)="this.accountService.logout()">Logout</a>
            </div>
        </div>
    </div>
</nav>