@import "~@fortawesome/fontawesome-free/css/all.css";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.vertical-separator {
    border-left: 2px solid #ccc;
    margin: 0 0.6rem;
}