<div class="container">
    <div class="categories">
        <div class="category" routerLink="products/phones">
            <img src="assets/images/phone.png" alt="Mobile Phone">
            <h2>Phones</h2>
        </div>
        <div class="category" routerLink="products/computers">
            <img src="assets/images/computer.png" alt="Computer">
            <h2>Computers</h2>
        </div>
        <div class="category" routerLink="products/home-appliances">
            <img src="assets/images/homeAppliances.png" alt="Home Appliances">
            <h2>Home Appliances</h2>
        </div>
        <div class="category" routerLink="products/tablets">
            <img src="assets/images/tablet.png" alt="Tablet">
            <h2>Tablets</h2>
        </div>
        <div class="category" routerLink="products/tvs">
            <img src="assets/images/tv.png" alt="TV">
            <h2>Televisions</h2>
        </div>
    </div>
</div>