<div class="container">
    <h2 class="modal-title">Welcome to Employee Portal</h2>
    <div class="login-form">
        <form autocomplete="off" #loginForm="ngForm" (ngSubmit)="login()">
            <input class="form-control" [(ngModel)]="loginDto.email" type="text" name="email" placeholder="Email"
                required>
            <input class="form-control" [(ngModel)]="loginDto.password" type="password" name="password"
                placeholder="Password" required>
            <button class="form-control" type="submit" [disabled]="!loginForm.valid">Login</button>
        </form>
    </div>
</div>