<div class="container" *ngIf="item">
    <img src="{{item.product.photoUrl || getPhoto()}}" alt="" class="product-image">
    <p class="product-name">{{item.product.name}}</p>

    <div class="product-price-wrapper">
        <p class="price" *ngIf="!item.product.discount; else discountBlock">{{item.product.price}}</p>
        <ng-template #discountBlock>
            <p class="price">{{item.product.price-item.product.discount!}}</p>
        </ng-template>
        <div class="quantity-selector">
            <button (click)="decrementQuantity()" class="quantity-button">-</button>
            <input type="number" name="quantity" [(ngModel)]="item.quantity">
            <button (click)="incrementQuantity()" class="quantity-button">+</button>
        </div>
        <i class="remove-product fa-solid fa-trash-can" (click)="removeProduct()"></i>
    </div>
</div>