<div class="container" *ngIf="product">
    <img src="{{product.photoUrl || getPhoto()}}" alt="" class="product-image">
    <p class="product-name">{{product.name}}</p>
    <div class="rating">
        <app-star-rating [rating]="product.rating"></app-star-rating>
        <i class="comments far fa-comment-alt"></i> {{product.amountOfComments}}
    </div>

    <div class="product-price-wrapper">
        <p class="price" *ngIf="!product.discount; else discountBlock">{{product.price}}</p>
        <ng-template #discountBlock>
            <p class="old-price">{{product.price}}</p>
            <p class="price" style="color: #E43A36;">{{product.price-product.discount!}}</p>
        </ng-template>
        <i class="buy fa-solid fa-cart-shopping" (click)="addToCart(); $event.stopPropagation()"></i>
    </div>
</div>