<div *ngIf="product" class="product">
    <div class="сontainer">
        <img src="{{ getPhoto()}}" alt="" class="product-image">
        <div class="text-data">
            <h1>{{ product.name }}</h1>
            <p><strong>Description:</strong> {{ product.description }}</p>
            <div class="price-wrapper">
                <p class="price" *ngIf="!product.discount; else discountBlock">{{product.price}}</p>
                <ng-template #discountBlock>
                    <p class="old-price">{{product.price}}</p>
                    <p class="price" style="color: #E43A36;">{{product.price-product.discount!}}</p>
                </ng-template>
                <button (click)="addToCart();"><i class="fa-solid fa-cart-shopping"></i> Add
                    to cart</button>
            </div>
        </div>
    </div>
    <h2>{{product.name}} Attributes</h2>
    <table>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr *ngFor="let attr of objectKeys(product.attributes)">
            <td>{{ attr }}</td>
            <td>{{ product.attributes[attr] }}</td>
        </tr>
    </table>
</div>

<div *ngIf="product && product.reviews.length" class="reviews">
    <h2>Reviews</h2>
    <div class="review" *ngFor="let review of product.reviews">
        <h3>{{ review.reviewer }}</h3>
        <p class="date">{{ review.reviewDate | date: 'mediumDate' }}</p>
        <!-- <p><strong>Rating:</strong> {{ review.rating }}/5</p> -->
        <app-star-rating [rating]="review.rating"></app-star-rating>
        <p>{{ review.content }}</p>
    </div>
</div>