.container {
    margin-left: 3rem;
    margin-top: 5rem;
    text-align: center;
}

.item {
    margin-bottom: 1rem;
}

.container button {
    padding: 1rem;
    font-size: 1.1rem;
    width: 40vw;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: rgb(31, 180, 31);
    color: white;
    cursor: pointer;
}

.container button::after {
    content: '₴';
    margin-left: 0.2rem;
}

.container button:hover {
    background-color: rgb(21, 122, 21);
}